@model HttpCookie
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Token Removed</title>
</head>
<body>
    <div>
        <h2>Token Removed</h2>

        <p>@Html.ActionLink("Go Back Home","Index","Main")</p>  
    </div>
</body>
</html>
